
body {
    font-family: 'Press Start 2P', serif;
}

header {
    position: fixed !important;
    height: 25vh;
    width: 100%;
    padding: 0;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.4) !important;
    background-color: rgba(255, 255, 255, 1);
    z-index: 6;
}

nav {
    position: fixed;
    text-align: center;
    display: grid;
    grid-template-columns:  33.33% 33.33% 33.33%;
    margin-right: 10px;
    padding: 0;
    width: 100%;
}

.title {
    font-size: 30px !important;
}

.homepage-body {
    display: grid;
    grid-template-columns: 50% 50%;
}

.nes-list, .job, .education {
    font-family: 'Courier New', Courier, monospace;
}

#allanimage {
    max-width: 100%;
    height: auto;
}

.homepage-body, .mainbody {
    padding-top: 250px;
}

#pong-body {
    display: grid;
    grid-template-columns: 50% 50%;
}

#card {
    margin: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
    text-align: center;
}

img {
    max-width: 100%;
    height: 50vh;
}
.snes-jp-logo {
    justify-self: center;
}

#back {
    grid-column-start: 1;
}

#bottom {
    margin: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4) !important;
}


@media only screen and (max-width: 600px) {
    #pong-body {
        grid-template-columns: 100%;
    }
}

@media (prefers-color-scheme: dark) {
    body {      
        background-color: black !important;
        color: white;
    }
    .nes-container {
        border-color: white;
        background-color: rgb(37, 37, 37);
        color: white;
    }
    .title {
        color: black;
    }

    canvas {
        border: 5px solid white !important;
    }

    #play-pong {
        color: black;
    }
}